providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_22", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm --filter valki-bot build"]

[start]
cmd = "pnpm --filter valki-bot start"
